# Discord bot
DISCORD_TOKEN="{{your-token}}"
DATABASE_URL="postgres://{{user}}:{{password}}@{{host}}:5432/{{database}}"
# SQLX_OFFLINE=true

# GCP / Cloud Run deploy
GCP_PROJECT_ID="{{your-gcp-project-id}}"
GCP_REGION="asia-northeast1"
ARTIFACT_REGISTRY_REPOSITORY="my-repo"
CLOUD_RUN_SERVICE="zunda-bot"
CONTAINER_IMAGE_NAME="zunda-bot"
CONTAINER_IMAGE_TAG="latest"
ENABLE_DISCORD_BOT="true"